.guding-width {
    width: 80%;
    margin: 0 auto;
}

.top-sec-wrapper {
    height: 80px;
    /*background-color: #bfa;*/
    width: 80%;
    margin: 0 auto;
    padding: 5px 0;
}

.left-sec-img-logo {
    float: left;
}

.left-sec-img-logo img {
    width: 150px;
    margin-left: 20px;
}

.mysearch {
    width: 600px;
    float: left;
    /*background-color: #fba;*/
    line-height: 70px;
}

.top-sec-wrapper .mysearch form {
    margin-top: 0;
}

.mysearch .navbar-form input {
    height: 40px;
    width: 460px;
    margin-bottom: 4px;
}

.mysearch .navbar-form button {
    width: 80px;
    height: 40px;
}

.mysearch-mytype {
    float: left;
    line-height: 70px;
    margin-left: 210px;
    /*width: 94px;*/
    /*margin: 0 0 0 6%;*/
}

.mysearch-mytype button {
    height: 40px;
}

.myauction{
    float: right;
    height: 40px;
    margin: 15px 0;
}

.myauction ul{
    margin-right: 20px;
    line-height: 40px;
}

.myauction a{
    display: block;
    padding: 0 10px;
    color: rgb(119,119,160);
}

.myauction a:hover{
    color: black;
    text-decoration-line: none;
}

.top3-wrapper-nav{
    /*background-color: #bfa;*/
    border-bottom: 2px solid pink;
}

.top3-div{
    /*background-color: #fba;*/
    width: 80%;
    height: 44px;
    margin: 0 auto;
    padding-left: 15px;
}

.top3-div li{
    float: left;
    line-height: 44px;
}

.top3-div a{
    display: block;
    width: 116px;
    height: 44px;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
    color: rgb(119,119,160);
}

.top3-div a:hover{
    color: pink;
    text-decoration-line: none;
}




/* 中间 */
.center-wrapper-nav{
    /*background-color: #bfa;*/
    margin-top: 15px;
}

.the-auction-card{
    width: 80%;
    margin: 0 auto;
    padding-left: 20px;
    height: 60px;
    line-height: 60px;
}

.auction-running-card{
    display: flex;
}

.auction-running-card div{
    flex: 1;
    text-align: center;
    font-size: 17px;
}

.auction-running-card a{
    display: block;
    color: black;
}

.auction-running-card a:hover{
    text-decoration-line: none;
    color: orange;
}

.auction-running-card span{
    margin-left: 10px;
    padding: 5px 5px;
    border: 1px solid pink;
    border-radius: 5px;
}

/* 进行中 */
.myauctionactive{
    background-color: orange;
    color: white !important;
    font-weight: bold;
}

/* 去掉点击a后出现的下划线  */
.auction-running-card a:focus{text-decoration: none}

.myauction a:focus{text-decoration: none}


button:focus{
    outline: 0 !important;
}